/*Arcana Table & Heading*/

/*mengatur biar tidak konflik dengan styling plugin2 baru*/
.heading-elements
{
	margin-top: 25px;
}

.dropdown-menu-right
{
	left: auto !important;
}

.child-active
{
	background: #1ab394;
}

.child-active a{
    color: white !important;
}

 .table-vertical-middle td{
 	vertical-align: middle !important;
 }

 .text-centered{
 	text-align: center;
 }

 .footer{
 	bottom: 0 !important;
 }